body {
  margin: 0 auto;
  line-height: 1.6;
  color: white;
  align-items: center;
  background-color: #2e2e31;
}
html {
  scroll-behavior: smooth;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
h1 {
  font-family: 'Russo One', sans-serif;
  font-size: 40px;
  margin: 0 auto;
  text-transform: uppercase;
}
h2 {
  font-family: 'Comfortaa', cursive;
  font-size: 25px;
  font-weight: 300;
  margin: 0 auto;
  line-height: 1.3;
}
h3 {
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
  margin: 0 auto;
}
h4 {
  font-family: 'Comfortaa', cursive;
  font-weight: 300;
  margin: 0 auto;

}
/*  Scroll  */
::-webkit-scrollbar {
  background: #202023;
  width: 20px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px white;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #e8a125;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #c47d00;
}
/*  Intro  */
.intro {
  width: 100%;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.introwelcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: url("Welcome.jpg") center no-repeat;
  background-size: cover;
  margin-bottom: 50px;
}
.welcome {
  line-height: 1.4;
  text-align: center;
  font-size: 100px;
  vertical-align: middle;
  color: #fff;
  text-transform: uppercase;
}
.supwelcome {
  line-height: 1.4;
  text-align: center;
  font-size: 50px;
  font-weight: 100;
  vertical-align: middle;
  color: #fff;
}
/*  Main  */
.main {
  width: 100%;
}
.section_1 {
  margin: 40px;
}
.cutting {
  height: 5px;
  background: linear-gradient(0.25turn, #e8a125, #fdce7b, #e8a125);
  border-radius: 10px;
  border-width: 0px;
  width: 500px;
  margin-top: 80px;
  margin-bottom: 80px;
}
.title {
  text-align: center;
}
.subtitle {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.subtitle__left {
  text-align: center;
  width: 80%;
  display: inline-block;
  margin-right: 10px;

}
.subtitle__right {
  text-align: center;
  width: 80%;
  display: inline-block;
  margin-left: 10px;

}
.subtitle img {
  position: relative;
  width: 20%;
  display: inline-block;
}
/*  Gallery  */
.accordion {
  width: 100%;
  height: 500px;
  overflow: hidden;
  margin: 50px auto;
}
.accordion ul {
  width: 100%;
  display: table;
  table-layout: fixed;
  margin: 0;
  padding: 0;
}
.accordion ul li {
  display: table-cell;
  vertical-align: bottom;
  position: relative;
  width: 16.666%;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 500ms ease;
}
.accordion ul li div {
  display: block;
  overflow: hidden;
  width: 100%;
}
.accordion ul li div a {
  display: block;
  height: 500px;
  width: 100%;
  position: relative;
  z-index: 3;
  vertical-align: bottom;
  padding: 15px 20px;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  font-family: Open Sans, sans-serif;
  transition: all 200ms ease;
}
.accordion ul li div a * {
  opacity: 0;
  margin: 0;
  width: 100%;
  text-overflow: ellipsis;
  position: relative;
  z-index: 5;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.accordion ul li div a h2 {
  font-family: Montserrat,sans-serif;
  text-overflow: clip;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 2px;
  top: 410px;
}
.accordion ul li div a p {
  top: 410px;
  font-size: 13.5px;
}
.accordion ul li:nth-child(1) {
  background-image: url("https://zabavnik.club/wp-content/uploads/2018/02/Odinochestvo_1_06021818.jpg");
}
.accordion ul li:nth-child(2) {
  background-image: url("http://fonday.ru/images/tmp/14/6/original/14630ksShwjAXHcqugQzVL.jpg");
}
.accordion ul li:nth-child(3) {
  background-image: url("https://i.pinimg.com/originals/8a/07/44/8a074428598567352fa0e211b8d75fdc.jpg");
}
.accordion ul li:nth-child(4) {
  background-image: url("http://www.radionetplus.ru/uploads/posts/2013-01/1359574417_violet-mix-wallpaper-1.jpeg");
}
.accordion ul li:nth-child(5) {
  background-image: url("http://wallpapers-image.ru/1920x1080/bridges/wallpapers/wallpapers-bridges-15.jpg");
}
.accordion ul li:nth-child(6) {
  background-image: url("http://www.gandex.ru/upl/oboi/gandex.ru-26_7040_boat-on-lake.jpg");
}
.accordion ul:hover li, .accordion ul:focus-within li {
  width: 8%;
}
.accordion ul li:focus {
  outline: none;
}
.accordion ul:hover li:hover,
.accordion ul li:focus, .accordion ul:focus-within li:focus {
  width: 60%;
}
.accordion ul:hover li:hover a,
.accordion ul li:focus a, .accordion ul:focus-within li:focus a {
  background: rgba(0, 0, 0, 0.4);
}
.accordion ul:hover li:hover a *,
.accordion ul li:focus a *, .accordion ul:focus-within li:focus a * {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.accordion ul:hover li {
  width: 8% !important;
}
.accordion ul:hover li a * {
  opacity: 0 !important;
}
.accordion ul:hover li:hover {
  width: 60% !important;
}
.accordion ul:hover li:hover a {
  background: rgba(0, 0, 0, 0.4);
}
.accordion ul:hover li:hover a * {
  opacity: 1 !important;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

@media screen and (max-width: 600px) {
  body {
    margin: 0;
  }

  .accordion {
    height: auto;
  }
  .accordion ul li, .accordion ul li:hover, .accordion ul:hover li, .accordion ul:hover li:hover {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
    -webkit-transition: none;
    transition: none;
  }
}
.about {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #666;
}
.about a {
  color: blue;
  text-decoration: none;
}
.about a:hover {
  text-decoration: underline;
}
/*  Lessons  */
.lessons {
  max-width: 1000px;
  width: 100%;
  padding-top: 40px;
  margin: 0 auto;
}
.lesson {
  display: inline-flex;
  justify-content: space-between;
  margin-left: 3%;
  margin-right: 3%;
  border-radius: 20px;
  border-style: solid;
  margin-bottom: 40px;
  align-items: center;
  border-color: #e8a125;
}
.imglesson {
  margin: 2%;
}
.namelesson {
  font-size: 30px;
  margin-top: 2%;
}
.desclesson {
  line-height: 1.2;
  font-size: 15px;
  margin-bottom: 2%;
}
.btnlesson {
  width: 25%;
  margin-left: 3%;
  margin-right: 3%;
  border-radius: 50px;
  border-style: solid;
  padding: 1% 2%;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Russo One', sans-serif;
  text-decoration: none;
  background-color: #202023;
  color: #fff;
  transition: .2s linear;
}
.btnlesson:hover {
color: #202023;
-moz-box-shadow:0 0 5px #202023;
-webkit-box-shadow:0 0 5px #202023;
box-shadow:0 0 5px #202023;
background-color: #fff;
}
/*  Outro  */
.bottom__line {
  width: 100%;
  height: 65px;
  background-color: #252525;
}
.bottom__nav {
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.bye {
  font-family: 'Poiret One', cursive;
  color: #8a8a8a;
}
.btm__link {
  color: #8a8a8a;
  text-decoration: none;
  transition: .2s linear;
  font-family: 'Poiret One', cursive;
  font-size: 20px;
  text-transform: uppercase;
  padding: 0 10px;
}
.btm__link:last-child {
  padding-right: 0;
}
.btm__link:hover {
  color: #fff;
}
/*  Media  */
@media screen and (max-width:1200px) {
  h1 {
    font-size: 70px;
  }
  .subtitle {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 25px;
  }
  .subtitle__left {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
  }
  .subtitle__right {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
  }
  .subtitle img {
    width: 100%;
    max-width: 555px;
    max-height: 480px;
    margin: 30px auto;
    margin-top: 0;
  }
}
